{% extends "base-blog.html.twig" %}
{% block content %}
	<h1>Alexandra Gonzalez, Ma Renault Zoé</h1>
	<h2>Mon road trip en Zoé ZE40 : Chambéry-Poitiers (AR) - avril 2019</h2>
	<div id="roadTrip042019" class="content">
		<p>Je suis propriétaire d'une Zoé ZE40 depuis septembre 2017. Au départ, j'utilisais cette voiture tous les jours pour me rendre au travail, soit au minimum 15km par jour, pour faire les courses ou pour faire des distances inférieures à 200km (zone de confort). En effet, au départ, on est un peu frileux car on ne connait pas bien la technologie électrique, mais progressivement, j'ai élargi le rayon des trajets, ce qui m'a permis de comprendre la capacité de la batterie selon les conditions climatiques et le dénivelé du trajet.
		Prenant de plus en plus confiance, la Zoé est maintenant devenue la voiture principale de la famille : on l'utilise pour tout ou presque ! <br /></p>
		<p>Le week-end du 1er mai, on avait prévu de se rendre à Poitiers pour voir la famille. J'habite Chambéry et pour un tel trajet, il faut compter environ 600km. Jusqu'à présent, nous avions fait ce voyage à plusieurs reprises en voiture thermique, mais cette fois-ci, je me suis lancée le défi (il vaut mieux le prendre avec cet état d'esprit !) de le faire avec ma Zoé.
		</p>
		<div id="preparation">
			<h3>Une préparation nécessaire</h3>
			<p>Nous avons certes un esprit un peu "aventurier", mais pour faire en sorte que ce voyage se passe bien, je l'ai préparé comme un véritable road trip en calculant des estimations et en notant les bornes de recharge sur notre trajet. L'application que j'ai dévelloppée m'a bien aidé. Ces calculs ont tous été fait à une température extérieure de 20°C. Vous verrez plus loin que ce paramètre a une grande importance.</p>

			<p id="road-board-link"><a title="voir le plan de route" target="blank" href="{{ asset('images/zoe/road-board.jpg') }}"><i class="fas fa-file-download"></i>Télécharger le plan de route</a></p>

			<p>En préparant ce road trip, j'ai aussi compris qu'il était nécessaire d'acquérir plusieurs badges afin d'être sûr de pouvoir recharger aux différentes bornes. En effet, pour le moment, les bornes de recharge sont gérées par plusieurs opérateurs et pour traverser la France d'est en ouest, il nous a fallu <strong>pas moins de 8 badges</strong> !! </p>

			<figure>
				<img alt="tous les badges" src="{{ asset('images/zoe/badge.jpg') }}"  />
				<figcaption>les badges nécessaires</figcaption>
			</figure>

			<p>Il existe bien le site Charge Map (que je recommande fortement <i class="far fa-smile"></i>) qui tente de regrouper sous un même badge tous les opérateurs, mais cela ne fonctionne pas toujours (voir plus bas) et le prix de la charge peut être parfois plus cher que si on utilise le badge de l'opérateur de la borne. 
			</p>
		</div>
		<div id="aller">
			<h3>Aller Chambéry-Poitiers</h3>
			<h4>Étape 1 : Chambéry-Mâcon</h4>
			<p>Le jour du départ, le 26 avril, la météo n'est pas aussi clémente que ce qu'on espérait. A Chambéry, la température extérieure est de 16°C avec du soleil, mais les conditions se dégraderont à l'étape 2 avec de la pluie et une température de 9°C. Nous décidions tout de même de prendre la route. <br />
			Autre petit aléa, la borne de recharge de Pont d'Ain semble ne pas fonctionner ce jour au vu des commentaires sur l'appli Charge Map. Au dernier moment, nous avons dû modifier notre plan : recharger à Belley au lieu de Pont d'Ain.<br /><br />

			Nous partons après le travail à <strong>13h36</strong> avec les paramètres batterie suivants :</p>

			<ul>
				<li>Charge batterie : 100%</li>
				<li>Autonomie indiquée : 298km</li>
			</ul>

			<p>Nous arrivons à Belley à 14h29 avec la batterie chargée à 85%. Nous avons décidé de faire une petite recharge pendant que nous faisions des courses au supermarché situé à coté de la borne (pratique <i class="far fa-smile"></i>).</p>

			<figure>
				<img alt="borne Belley" src="{{ asset('images/zoe/belley_aller_01.jpg') }}"  />
				<figcaption>En charge à Belley</figcaption>
			</figure>

			<p>Nous avons eu des difficultés à lancer la charge, car pour une raison inconnue, le badge Charge Map ne fonctionnait pas. Finalement, à force d'essayer tous les badges, le E-Motion a déclenché la borne. Sur la borne, rien n'indiquait que l'opérateur était E-Motion !</p>

			<figure>
				<img alt="borne Belley" src="{{ asset('images/zoe/belley_aller_02.jpg') }}"  />
				<figcaption>borne Move in Pure</figcaption>
			</figure>

			<p>Après 38min de charge :</p>

			<ul>
				<li>Charge batterie : 97%</li>
				<li>Autonomie indiquée : 320km</li>
			</ul>

			<p>Nous reprenions la route à 15h08 et on se dirigeait vers Mâcon en empruntant l'autoroute à partir d'Ambérieu. Pour ne pas faire fondre l'autonomie, nous avons rouler à une vitesse de 110km/h. <br />
			Nous sommes arrivés à Mâcon à 16h40.
		    </p>
			<h4>Étape 2 : Mâcon - Aire des Vérités (St Victor)</h4>
			<p>A Mâcon, la température affichait 12°C, mais le soleil brillait toujours. Nous nous sommes arrêtés au parking Sud sur le parking de co-voiturage. <br/><br/>

			La batterie indiquait :</p>

			<ul>
				<li>Charge batterie : 43%</li>
			</ul>

			<p>Nous avons mis 20min à comprendre comment cette borne fonctionnait. En fait, c'est juste qu'elle est très très lente. Quand vous présentez le badge, il faut laisser le badge contre le lecteur au moins 3min avant qu'il soit détecté !!<br />
			L'emplacement du scan badge n'est pas clair du tout : on ne sait pas s'il faut présenter le badge dessous l'écran ou plus bas ! En effet, deux signalitiques "sans contact" sont représentées sur la borne.<br /><br />
			En revanche, nous avons été agréablement surpris que <strong>la ville de Mâcon offrait la charge <i class="far fa-smile"></i></strong>.<br /><br />
			La borne est très bien placée : juste en face, il y a un petit lac agréable et un peu plus loin, une boulangerie/café permet de patienter le temps de la charge. L'accueil, la qualité et le prix étaient très satisfaisants. Le seul bémol est son accès à pied un peu délicat car il faut marcher sur le bas côté le long d'une voie rapide et il n'y a pas de passage pour piéton. </p>

			<figure>
				<img alt="borne Macon" src="{{ asset('images/zoe/macon_aller_01.jpg') }}"  />
				<figcaption>En charge à Mâcon</figcaption>
			</figure>

			<div class="twinFigure">
				<figure>
					<img alt="borne Macon" src="{{ asset('images/zoe/macon_mode_emploi.jpg') }}"  />
					<figcaption>Mode d'emploi de la borne à Mâcon</figcaption>
				</figure>
				<figure>
					<img alt="borne Macon" src="{{ asset('images/zoe/macon_borne.jpg') }}"  />
					<figcaption>Un aperçu de la borne</figcaption>
				</figure>
			</div>

			<p>
				Après 1h40 de charge, nous avons repris la route à 18h20, la fameuse RCEA, objectif: l'aire des Vérités, St Victor.
			</p>
			<p>Durant cette étape, la météo s'est gâtée avec de la pluie battante et une température en chute. <br /><br />

			Arrivé à Montmarault, la jauge batterie indiquait seulement 29% ! Sachant qu'il restait encore 40km à parcourir jusqu'à l'aire des Vérités et par l'autoroute qui a un bon dénivelé positif, on aurait souhaiter recharger à l'office de tourisme de Montmarault. Mais contrairement, à ce qui était indiqué sur le site du fournisseur, la borne était HS ! <i class="far fa-angry"></i> <br/><br/>

			Aie aie... nous n'avons pas d'autres choix que de poursuivre ! Une idéee toute bête pour moins consommer nous est venue : coller aux camions pour éviter de dépasser 90-100km/h et profiter de l'aspiration du poids lourd. Bon, je reconnais que ce n'est pas l'idéal.<br />
			Finalement, nous sommes arrivés à l'aire des Vérités à 20h58 sous une pluie battante.<br /><br /></p>
			<p>La voiture indiquait :</p>

			<ul>
				<li>Charge batterie : 18%</li>
				<li>Autonomie indiquée : 70km</li>
			</ul>
			<p><em>Ouf ! Il était temps d'arriver !</em></p>
			<p>Sur l'aire des Vérités, nous avions réservé un hôtel pour passer la nuit et reprendre la route le lendemain bien éveillés. L'hôtel est situé à côté des bornes de recharge (bien pratique). 
			Après 2h50 de charge, nous avons reçu une notification indiquant que la charge était terminée.<br />
			Je n'ai pas pu prendre de photos vu l'intensité de la pluie !</p>

			<h4>Étape 3 : St Victor - Poitiers</h4>
			<p>Nous avons pris la route à 8h00 le lendemain matin. Le ciel était redevenu bleu, mais la température n'excédait pas 9°C.<br /><br/></p>
			<p>Les paramètres batterie indiquaient :<br /></p>
			<ul>
				<li>Charge batterie : 99%</li>
				<li>Autonomie indiquée : 278km</li>
			</ul>
			<p>Remarque : L'estimation de l'autonomie tient compte de l'autoroute que nous avions prise la veille et bien sûr de la température extérieure.<br /><br /></p> 
			<p>Très rapidement, la météo s'est gâtée : la pluie a fait son retour et surtout il y avait un fort vent de face. Nous avons vu l'autonomie littéralement fondre et 67km plus loin, il nous restait que 65% de batterie, soit une consommation moyenne de 20kwh au 100km !!</p>
			<p>Dans ces conditions, on ne pouvait pas atteindre à Poitiers sans recharger.</p>
			<p>Nous avons donc décidé de nous arrêter à l'aire des Monts à Guéret. Nous sommes arrivés à 8h48 et on est repartis à 10h12 avec 97% de batterie.</p>
			<figure>
				<img alt="borne Guéret" src="{{ asset('images/zoe/gueret_aller_01.jpg') }}"  />
				<figcaption>En charge à Guéret</figcaption>
			</figure>
			<p>Finalement, nous sommes arrivés à Poitiers à 12h25.<br /><br /></p> 
			<p>Les paramètres batterie indiquaient :</p>
			<ul>
				<li>Charge batterie : 46%</li>
				<li>Autonomie indiquée : 124km</li>
			</ul>
			<h4>Conclusions aller Chambéry-Poitiers</h4>
			<ul>
				<li>Distance parcourue : 597km</li>
				<li>Temps de route : 8h24</li>
				<li>Nombre de recharge : 4</li>
				<li>Temps de recharge : 4h55</li>
				<li>Temps total trajet (route + recharge): 13h19</li>
				<li>Coût recharge Guéret : 8,65€</li>
				<li>Coût recharge St Victor : 17,40€</li>
				<li>Coût total recharge : 26,05€</li>
			</ul>
		</div>
		<div id="retour">
			<h3>Retour : Poitiers - Chambéry (1er mai)</h3>
			<p>Contrairement à l'aller, nous ne disposions que d'une journée pour effectuer le trajet retour. Nous avons un peu changé l'itinéraire, car à l'aller nous nous sommes rendus compte que la portion à 110km/h de RCEA entre Montluçon et La Souteraine était trop énergivore. Cette fois-ci, nous sommes passés par la route passant par Le Blanc. L'objectif était de réduire le temps de charge.</p>

			<h4>Étape 1 : Poitiers - St Victor (aire des Vérités)</h4>
			<p>Nous avons pris la route à 7h30 avec un beau soleil, mais la température était un peu fraîche avec seulement 7°C.  Après 2h55 (arrivée à 10h00) de route très agréable car nous avons découvert des villages atypiques et une nature magnifique, nous sommes arrivés à St Victor.<br /><br /></p>
			<p>Etat de la batterie arrivé à l'aire des Véritées:</p>
			<ul>
				<li>Charge batterie : 26%</li>
			</ul>
			<p>La recharge a été très compliquée à faire démarrer. En effet, aucun badge ne fonctionnait, ni l'appli du fournisseur ! Il fallu appeler le service client du fournisseur de la borne qui, fort heureusement travailler ce 1er mai. En fait, il s'agissait d'un problème technique sur toutes les bornes en France de ce fournisseur. L'opératrice au bout du fil, très accueillante, a pu activer la borne à distance. Mais ces péripéties nous ont fait perdre 30 min !!</p>

			<div class="twinFigure">
				<figure>
					<img alt="borne St Victor" src="{{ asset('images/zoe/aire_verite_retour_01.jpg') }}"  />
					<figcaption>En charge sur l'aire des vérités</figcaption>
				</figure>
				<figure>
					<img alt="borne St Victorn" src="{{ asset('images/zoe/aire_verite_retour_02.jpg') }}"  />
					<figcaption>Un aperçu de la borne</figcaption>
				</figure>
			</div>
			<figure>
				<img alt="borne St Victor" src="{{ asset('images/zoe/aire_verite_retour_03.jpg') }}"  />
				<figcaption>Un aperçu des bornes de loin</figcaption>
			</figure>
			<p>Nous avons repris la route après 2h00 de charge et un bon repas au restaurant tout proche. Sur l'aire des Vérités, il y a aussi un centre nautique à quelques pas des bornes de recharge.</p>

			<h4>Étape 2 : St Victor - Mâcon</h4>
			<p>Nous sommes arrivés à 15h10 à Mâcon après 2h47 de route sous un magnifique soleil. La température a elle aussi grimpée pour atteindre 17°C, ce qui devrait favoriser l'autonomie de la batterie.<br /><br />
			</p>
			<p>L'ordinateur de bord de la voiture affichait :</p>
			<ul>
				<li>Charge batterie : 29%</li>
				<li>Autonomie indiquée : 88km</li>
			</ul>
			<figure>
				<img alt="borne Macon" src="{{ asset('images/zoe/macon_retour_01.jpg') }}"  />
				<figcaption>En charge à Mâcon</figcaption>
			</figure>
			<p>Après 2h00 de charge, la batterie indiquait 100% de charge et une estimation d'autonomie de 306km. C'est largement suffisant pour effectuer la dernière étape.</p>

			<h4>Étape 3 : Mâcon - Chambéry</h4>
			<p>Après 2h10 de route, nous sommes arrivés à Chambéry à 19h50. La voiture affichait :<br /><br /></p>
			<ul>
				<li>Charge batterie : 50%</li>
				<li>Autonomie indiquée : 150km</li>
			</ul>

			<h4>Conclusions retour Poitiers - Chambéry</h4>
			<ul>
				<li>Distance parcourue : 580km</li>
				<li>Temps de route : 7h47</li>
				<li>Nombre de recharge : 2</li>
				<li>Temps de recharge : 4h00</li>
				<li>Temps total trajet (route + recharge): 11h52</li>
				<li>Coût recharge St Victor : 10€</li>
				<li>Coût total recharge : 10€</li>
			</ul>

		</div>
	</div>

{% endblock %}